<ion-modal [isOpen]="isOpen" (didDismiss)="onModalClose()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Szenen als Kontext hinzufügen</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onModalClose()">
            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-searchbar 
        [(ngModel)]="sceneSearchTerm" 
        placeholder="Szene suchen..."
        animated="true">
      </ion-searchbar>
      
      <ion-list>
        <div *ngFor="let chapter of story?.chapters">
          <ion-item-divider>
            <ion-label>C{{ chapter.chapterNumber || chapter.order }}:{{ chapter.title }}</ion-label>
          </ion-item-divider>
          
          <ion-item 
            *ngFor="let scene of getFilteredScenes(chapter)" 
            [button]="true"
            (click)="onSceneToggle(chapter.id, scene.id)">
            <ion-checkbox 
              slot="start" 
              [checked]="isSceneSelected(scene.id)">
            </ion-checkbox>
            <ion-label>
              <h3>C{{ chapter.chapterNumber || chapter.order }}S{{ scene.sceneNumber || scene.order }}:{{ scene.title }}</h3>
              <p>{{ getScenePreview(scene) }}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>